/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

#navbar {
    background-color: black !important;
    color: white !important;
}

.jumbotron {
    background-image: url(images/moon-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 2rem !important;
    background-position: center;
    color: white;
}

.brand-name{
    background-color: black;
    color: #09c209;
}

.ios-emoji{
    width: 22px;
}

.lead{
    font-size: 1.2rem;
    color: #e700ee;
    background-color: black;
}

.italics{
    color: #00d9d9;
}

.tagline{
    font-size: 1.8rem;
}